fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.5
pydantic-settings==2.7.1
gitpython==3.1.43
pyjwt==2.10.1
cryptography==44.0.0
python-multipart==0.0.20
httpx==0.28.1
tenacity==9.0.0
python-dotenv==1.0.1
pytest-asyncio==0.25.3
mock==5.2.0
dirty-equals==0.11